
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="~/App_Data/login/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="~/App_Data/login/s
          @{ Layout = null; }

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href="~/App_Data/login/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link href="~/Content/login/style.css" rel="stylesheet" />
        <title>Admin Panel</title>
    </head>
    <body>
        <div class="arkaplan">
            <div class="form">

                
                <img src="@Url.Content("~/Content/login/peryy_logo.png")" alt="Logo" ">
                <h1 id="admin">Admin Giriş</h1>
                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    <div class="text">
                        <input type="text" name="kullaniciadi" placeholder="Kullanıcı Adı">
                    </div>
                    <div class="text">
                        <input type="password" name="sifre" placeholder="Şifre">
                    </div>
                    <button type="submit" class="buton">Giriş Yap</button>
                }

            </div>
        </div>
    </body>

